[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[user]
    name = John Hughes
    email = JoHughes@teslamotors.com
[alias]
    co = checkout
[apply]
    whitespace = nowarn
[core]
    editor = vim
    preloadindex = true
    fscache = true
	excludesfile = /Users/johughes/.gitignore_global
[gc]
    auto = 256
[rerere]
    enabled = true
[push]
    default = tracking
[branch]
    autosetupmerge = true
[advice]
    pushNonFastForward = false
    statusHints = false
[pager]
    color = true
    #show = vim -c '%sm/\\e.\\{-}m//g' -c 'set ft=diff' +1 -
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = /usr/local/Cellar/kdiff3/0.9.98/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/Cellar/kdiff3/0.9.98/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
