[color]
    branch = auto
    diff = auto
    status = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[user]
    name = John Hughes
    email = john.hughes@aid-driving.eu
[apply]
    whitespace = nowarn
[core]
    editor = vim
    preloadindex = true
    fscache = true
[gc]
    auto = 256
[rerere]
    enabled = true
[push]
    default = tracking
[branch]
    autosetupmerge = true
[advice]
    pushNonFastForward = false
    statusHints = false
[pager]
    color = true
    #show = vim -c '%sm/\\e.\\{-}m//g' -c 'set ft=diff' +1 -
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = kdiff3 \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[alias]
    top = log --oneline --graph --decorate @{u}..
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
        helper = !pass-git-helper $@

[http "https://atlassian.aid-driving.eu:9443/"]
    sslVerify = true
    sslCert = ~/.ssh/aid_cert.pem
    sslKey  = ~/.ssh/aid_key.pem
